@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

ul {
  list-style-type: none;
  text-indent: -200px;
}

.cardstack-body {
  border-style: double;
  border-color: black;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 50px;
  height: 500px;
}

.movie-name {
  border-style: solid;
  margin: auto;
  border-collapse: collapse;
  border-style: blue;
  margin-left: 25px;
  margin-top: 40px;
  width: 150px;
  text-align: center;
}

.movie-poster {
  border-style: solid;
  border-style: black;
  padding: 0%;
  margin-left: 25px;
  margin-top: 10px;
  width: 150px;
  height: 350px;
}

.chart {
  position: relative;
  width: 50vw;
  height: 50vh;
}

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}

.header {
  margin-top: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-top {
  display: flex;
  width: 100%;
  height: 80px;
}

.header-top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header-logo {
  color: inherit;
  text-decoration: inherit;
  font-family: RobotoThin;
  font-size: 100px;
}

.header-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-top__seperator {
  width: 100%;
  border: none;
  height: 2px;
  margin-top: 2px;
  background-color: black;
}

.header-top__navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 55px;
}

.header-bottom {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-top: 6px;
}

.header-bottom__email {
  margin-right: 55px;
}

.header-bottom__phone {
  margin-right: 65px;
}

.header-bottom__bag {
  position: absolute;
  display: flex;
}

.header-bottom__bag-icon {
  position: relative;
  display: flex;
  left: -5px;
  width: 30px;
  height: 30px;
}

.header-bottom__bag-count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: RobotoThin;
  right: 0px;
  top: -5px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  color: white;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoThin";
  src: url("./fonts/Roboto-Thin.ttf");
}

.footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-social-media__icon {
  margin: 0px 4px;
  width: 25px;
  height: 25px;
}

.footer-info {
  display: flex;
  justify-content: center;
}

.footer-info-left,
.footer-info-center,
.footer-info-right {
  font-size: x-small;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 30%;
}

.footer-info__name,
.footer-info__email,
.footer-info__number {
  margin-bottom: 10px;
}

.footer-info__name,
.footer-info__returns {
  text-align: start;
}

.footer-info__email,
.footer-info__terms {
  text-align: center;
}

.footer-info__number,
.footer-info__contact {
  text-align: end;
}

.footer-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-seperator {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: black;
  width: 100%;
}

.footer-name {
  display: flex;
  justify-content: center;
}

.footer-bottom__name {
  text-transform: uppercase;
  font-family: RobotoBold;
  font-size: large;
  margin: 0px 20px;
}

.center {
  text-align: center;
  font-size: x-large;
}

.footer-logo {
  text-align-last: center;
  color: inherit;
  text-decoration: inherit;
  font-family: RobotoThin;
  font-size: 25px;
}

.navbar-footer-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
  font-size: smaller;
}

.card-left-outline {
  border: black;
}

.card-right-outline {
}
